{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}

{% block title %}
    {{ 'title.invoice.new'|trans }}
{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'title.invoice.new'|trans}) }}
        {{ buttons.button_back(path('app_invoice_index')) }}
    </div>
    {{ include('invoice/_form.html.twig', {'button_label': 'Nuevo'}) }}
{% endblock %}

