{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Nueva Factura'}) }}
        <a href="{{ path('app_invoice_index') }}">
            Atras
        </a>
    </div>
    {{ include('invoice/_form.html.twig', {'button_label': 'Nuevo'}) }}
{% endblock %}
