{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">        
        {{ include('components/title.html.twig', {'txt_label': 'Editar'}) }}
        <a href="{{ path('app_category_index') }}">
            Atras
        </a>
    </div>
    {{ include('category/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
