{% extends 'base.html.twig' %}
    {% import 'components/button/index.html.twig' as buttons %}

{% block title %}
    Nueva Categoria
{% endblock %}
{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Nueva Categoria'}) }}
        {{ buttons.button_back(path('app_category_index')) }}

        <a href="{{ path('app_category_index') }}">
            Atras
        </a>
    </div>
    {{ include('category/_form.html.twig', {'button_label': 'Nuevo'}) }}

{% endblock %}
