{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">        
        {{ include('components/title.html.twig', {'txt_label': 'Editar'}) }}
        <a href="{{ path('app_product_index') }}">
            Atras
        </a>
    </div>
    {{ include('product/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
