{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Editar'}) }}
        {{ buttons.button_back(path('app_product_index')) }}
    </div>
    {{ include('product/_edit_form.html.twig') }}

{% endblock %}
{% block javascripts_botton %}
    <script src="{{ asset('js/image-upload.js') }}"></script>
{% endblock %}
