<!-- Notifications menu -->
<li class="relative" x-data="{ open: false }">
    <a href="{{ path('app_notification_index') }}" class="flex align-center rounded-md focus:outline-none focus:shadow-outline-purple">
        {{ component('NotificationBell') }}
    </a>    
</li>
