{% import 'components/Icons.html.twig' as icon %}

<div{{ attributes }}>
    {{ include('components/StatsCard.html.twig', {'icon':icon.CategoryIcon(),'title': 'Categorias','number': this.getCount }) }}
</div>
