{% import 'components/Icons.html.twig' as icon %}

<div{{ attributes }}>
    {% set iconType = icon.InvoiceIcon() %}
    {% set title = 'menu.invoice'|trans %}
    {% set class = 'text-teal-500 bg-teal-100 dark:text-teal-100 dark:bg-teal-500' %}

    {% if is_granted('ROLE_ADMIN') %}
        {% set number = this.getCount %}
    {% else %}
        {% set number = this.getCountByUser %}
    {% endif %}

    {{ include('components/StatsCard.html.twig', {'router':path('app_invoice_index'),'icon': iconType, 'title': title, 'number': number, 'class': class }) }}
</div>
