{% import 'components/Icons.html.twig' as icon %}

<div{{ attributes }}>
    {{ include('components/StatsCard.html.twig', {'icon':icon.InvoiceIcon(),'title': 'Total de Facturas','number': this.getCount,'class':'text-teal-500 bg-teal-100 dark:text-teal-100 dark:bg-teal-500' }) }}
</div>
