{% import 'components/Icons.html.twig' as icon %}

<div{{ attributes }}>
    {{ include('components/StatsCard.html.twig', {'icon':icon.ProductIcon(),'title': 'Total de Productos','number': this.getCount }) }}

</div>
