{% import 'components/Icons.html.twig' as icon %}

<div{{ attributes }}>
    {{ include('components/StatsCard.html.twig', {'icon':icon.UserIcon(),'title': 'Total de usuarios','number': this.getCount,'class':'text-green-500 bg-green-100 dark:text-green-100 dark:bg-green-500' }) }}
</div>
