{% extends 'base.html.twig' %}
{% import 'components/button/index.html.twig' as buttons %}


{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    <div class="flex items-center justify-between">
        {{ include('components/title.html.twig', {'txt_label': 'Editar'}) }}
        {{ buttons.button_back(path('app_user_index')) }}
    </div>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
